<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljq.backstage.sql.mapper.DeviceTypeMapper">
    <insert id="insert" parameterType="com.ljq.backstage.sql.entity.DeviceType">
        insert into jtt.device_type(type_name)
        values (#{typeName})
    </insert>

    <delete id="delete" parameterType="com.ljq.backstage.sql.entity.DeviceType">
        delete
        from jtt.device_type
        where type_name = #{typeName}
    </delete>

    <select id="getByTypeName" resultType="com.ljq.backstage.sql.entity.DeviceType">
        select *
        from jtt.device_type
        where type_name = #{typeName}
    </select>

    <select id="get" resultType="com.ljq.backstage.sql.entity.DeviceType">
        select *
        from jtt.device_type;
    </select>
</mapper>